<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.mybatis" level="WARN"/>

    <springProfile name="default,test">
        <logger name="net.myscloud.platform.demons" level="DEBUG"/>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <logger name="net.myscloud.platform.demons" level="INFO"/>

        <root level="WARN">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
